/* PALETTE COLORS - BACKGROUND */
.bg-blue1 {
  background-color: #8ECAE6;
}
.bg-blue2 {
  background-color: #219EBC;
  &:hover {
    background-color: #FFB703;
  }
}
.bg-blue3 {
  background-color: #023047;
}
.bg-yellow1 {
  background-color: #FFB703;
}
.bg-orange1 {
  background-color: #FB8500;
}

/* PALETTE COLORS - FOREGROUND */
.cl-blue1 {
  color: #8ECAE6;
}
.cl-blue2 {
  color: #219EBC;
}
.cl-blue3 {
  color: #023047;
}
.cl-yellow1 {
  color: #FFB703;
}
.cl-orange1 {
  color: #FB8500;
}

/* NAVBAR */
.navbar-lewagon {
  margin-bottom: 50px;
}

/* HEADLINES */
h1, h2, h3, h4, h5, h6 {
  color: $my-title;
  padding-left: 8px;
}
h1 {
  border-left: solid 10px #FB8500;
}
h2 {
  border-left: solid 5px #FFB703;
}
