/* PALETTE COLORS */
.bg-blue1 {
  background-color: #8ECAE6;
}
.bg-blue2 {
  background-color: #219EBC;
}
.bg-blue3 {
  background-color: #023047;
}
.bg-yellow1 {
  background-color: #FFB703;
}
.bg-orange1 {
  background-color: #FB8500;
}

.cl-blue1 {
  color: #8ECAE6;
}
.cl-blue2 {
  color: #219EBC;
}
.cl-blue3 {
  color: #023047;
}
.cl-yellow1 {
  bcolor: #FFB703;
}
.cl-orange1 {
  color: #FB8500;
}

/* NAVBAR */
.navbar-lewagon {
  margin-bottom: 50px;
}
