<div class="container">
  <div class="alert alert-light">
    <p>Hi <%= @user.name %>, your order has been confirmed</p>
    <p>Thank you!!</p>
    <%= link_to "Home Page", root_path, class: "btn btn-primary" %>
  </div>
</div>
