<h1>HOME DO SITE Pages#home</h1>
<p>AQUI MOSTRA OS PRODUTOS PARA OS "NAO LOGADOS" e "LOGADOS"</p>
<p>CASO O USUARIO DER UM CLICK NA "IMAGEM" OU NO "BOTAO COMPRAR"</p>
<p>ele vai ser redirecionado para a pagina de "LOGIN"</p>
