.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.text-bold{
  font-weight: bolder;
}

.button-bold:hover {
  font-weight: bolder;
  color: white;
}

