<h1 class="padding">Produtos</h1>
    <div class="card-grid w-100">
  <% @products.each do |product| %>
      <div class="card m-2 p-3">
        <!--img src="..." class="card-img-top" alt="..." -->
        <h2> <%= link_to product.name, product_path(product), class: "card-title" %> <br><span class="fs-6 text-muted text-decoration-none lh-3"><%= product.units %> unidades disponíveis</span></h2>
        <p> <%= product.description %> </p>
        <%#link_to "BUY", product_order_confirmation_path(@product), class: "btn btn-primary align-self-start"%>
        <h5 class="align-self-end"> R$ <%= product.price %> </h5>
      </div>
  <% end %>
</div>
